body,
html {
	height: 100%;
}

body.slider__body {
	margin: 0;
	padding: 0;
	overflow: hidden;
}

.slider__container {
	position: relative;
	display: block;
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
	-webkit-transition: -webkit-transform 500ms ease-in-out;
	transition: -webkit-transform 500ms ease-in-out;
	-o-transition: transform 500ms ease-in-out;
	transition: transform 500ms ease-in-out;
	transition: transform 500ms ease-in-out, -webkit-transform 500ms ease-in-out;
}

.slider__page {
	position: relative;
	width: 100%;
	height: 100%;
}

.slider__indicators {
	position: absolute;
	right: 18px;
	top: 50%;
	z-index: 2;
	margin: 0;
	padding: 0;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}
.slider__indicator {
	display: block;
	width: 10px;
	height: 10px;
	margin: 10px 0;
	border-radius: 100px;
	background-color: #fff;
	cursor: default;
}
.slider__indicator--active {
	opacity: 0.3;
}

#name {
  text-align: center;
	margin-top: 10px;
	font-size: 56px;
}

.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 75%;
  }

  .kindaOpaque {
	  background-color: rgba(255,255,255,0.2)
  }

  .opaque {
	background-color: rgba(255,255,255,0)
  }

  .portfolio {
	  min-height: 500px;
  }

  .portfolioJumbotron {
	  min-height: 500px;
  }

  p,
  h1 {
	  color: white;
	}
	
	.italic {
		font-style: italic;
		font-size: 24px;
	}

	.selfie {
		border-radius: 100%; 
		border: 2px solid white; 
		max-width: 275px;
	}

	h3 {
		text-align: center;
		color: white;
	}

	.landingPage {
		position: relative;
		top: 250px;
	}